* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    font-weight: 500;
    transition: all .3s ease-in-out;
}

a {
    text-decoration: none !important;
}

#header .logo-inner { display: none !important; }

#header .container:nth-child(2) {
    width: 100% !important;
    margin: 0;
    padding: 0;
    z-index: 100;
}

@media (min-width: 768px) {
    .search-result .content-wrapper {
        padding-right: 10px !important;
        margin-right: 10px !important;
        box-sizing: border-box !important;
    }

    #header .header-inner {
        margin-top: -100px;
    }
}

#footer {
    background-color: transparent !important;
    height: auto !important;
    color: #000 !important;
    padding: 0 !important;
    font-weight: 400;
}

#footer .container {
    width: 100% !important;
    padding: 0 !important;
}

.listing-thumbnail-property-price,
.orbirental-capture-widget-form button,
.btn {
    color: #FFF !important;
    background-color: #40caa1 !important;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
    color: #FFF !important;
    background-color: #40caa1 !important;
    border-color: #40caa1 !important;
}

.header-homepage {
    z-index: 1000;
}
.header-homepage .header-inner {
    max-width: 1170px;
    margin: 0 auto !important;
    text-align: center;
    padding-top: 200px !important;
}

#blueimp-desktop-gallery-carousel.diaporama.diaporama-multiple {
    margin-top: 40px !important;
}

@media only screen and (max-width: 1200px) {
    .index-rubrique-header .panel-body {
        display: flex !important;
        flex-direction: column !important;
        padding: 10px !important;
    }
    .index-rubrique-header .panel-body hr {
        margin: 16px 0 !important;
    }
    .index-rubrique-header .panel-body .col-xs-3 {
        display: none !important;
        padding: 0 !important;
    }
    .index-rubrique-header .panel-body .col-xs-9 {
        width: 100% !important;
        padding: 0 !important;
    }
    .table.book td {
        display: flex !important;
        border: none !important;
        width: 100% !important;
        line-height: 0 !important;
        background: none !important;
        padding-left: 16px !important;
    }
    .table.book tr {
        display: flex !important;
        flex-direction: column !important;
        border-top: 1px solid #ddd !important;
        gap: 10px !important;
        padding: 16px 0 !important;
    }
    .table.book tr:last-child {
        background-color: #fcf8e3 !important;
    }
    .table.book tr td:nth-child(1) {
        font-weight: bold !important;
    }
    .table.book tr:nth-child(1),
    .table.book tr:nth-child(5),
    .table.book tr:nth-child(6),
    .table.book tr:nth-child(6) {
        border-top: none !important;
        padding: 0 !important;
        padding-bottom: 16px !important;
    }
    .table.book tr:nth-child(1) td:nth-child(2),
    .table.book tr:nth-child(1) td:nth-child(4),
    .table.book tr:nth-child(2) td:nth-child(2),
    .table.book tr:nth-child(2) td:nth-child(4),
    .table.book tr:nth-child(3) td:nth-child(2),
    .table.book tr:nth-child(3) td:nth-child(4),
    .table.book tr:nth-child(4) td:nth-child(4),
    .table.book tr:nth-child(5) td:nth-child(1),
    .table.book tr:nth-child(5) td:nth-child(4),
    .table.book tr:nth-child(6) td:nth-child(1),
    .table.book tr:nth-child(6) td:nth-child(4),
    .table.book tr:nth-child(7) td:nth-child(2),
    .table.book tr:nth-child(7) td:nth-child(4),
    .table.book tr:nth-child(7) td:nth-child(4),
    .table.book tr:nth-child(8) td:nth-child(2),
    .table.book tr:nth-child(8) td:nth-child(4),
    .table.book tr:nth-child(9) td:nth-child(2),
    .table.book tr:nth-child(9) td:nth-child(4),
    .table.book tr:nth-child(10) td:nth-child(2),
    .table.book tr:nth-child(10) td:nth-child(4) {
        display: none !important;
    }
    .table.book .label-success {
        font-size: 16px !important;
    }
}